<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squash League - Delete Division Confirmation</title>
</head>
<body>
<a href="/">Home</a>
<h1>Are you sure you want to DELETE {{name}}?</h1>
<h2>This action is irreversible and will remove the division from every team with it!!</h2>
<span style="font-size:30px"><form method="post" action="/editdivision"><input value="Yes, I want to delete {{name}}" type="submit"><input type="hidden" value="{{name}}" name="delete"></form></span>
</body>
</html>