<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Download by Facility</title>
</head>
<body>
<a href="/">Home</a>
<h1>Download by Facility for "{{scheduleName}}"</h1>
{% for facility in sfacs %}
     <span style="font-size:30px"><a href="/downloadschedule?schedule={{urlparse(scheduleName)}}&facility={{urlparse(facility)}}">{{facility}}</a></span><br><br>
{% endfor %}

</body>
</html>