<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Edit Team</title>
      <style>
        label{
            display: inline-block;
            float: left;
            clear: left;
            width: 500px;
            text-align: left;
        }
        input {
          display: inline-block;
          float: left;
        }select {
          display: inline-block;
          float: left;
        }
    </style>
</head>
<body>
<a href="/">Home</a>
<h1>Edit {{team.fullName}}</h1>
<form method="post" action="/submitedit">
    <span style="font-size:30px">
        <label>Team Name</label> <input type="text" name="fullName" placeholder="Team Name" value="{{team.fullName}}" required ><br>
    <label>Abbreviated Name</label>  <input type="text" name="shortName" placeholder="Abbreviated Name" value="{{team.shortName}}" required><br>
    <label>Division</label>  <select name="division" >
                <option value="$none" {{'selected="selected"'  if team.division.value == None else ''}}>None</option>
            {% for division in divs %}
        <option value="{{division}}" {{'selected="selected"'  if division == team.division else ''}}>{{divisions[division].shortName}}</option>
            {% endfor %}

    </select>
        <label>Practice Days </label>
        <span style="font-size:20px;word-wrap:break-word" >
       <label> Sunday<input type="checkbox" name="practiceDays-sunday" {{"checked=''" if "sunday" in team.practiceDays.days else ""}}></label>
       <label> Monday<input type="checkbox" name="practiceDays-monday" {{"checked=''" if "monday" in team.practiceDays.days else ""}}></label>
        <label>  Tuesday<input type="checkbox" name="practiceDays-tuesday" {{"checked=''" if "tuesday" in team.practiceDays.days else ""}}></label>
       <label> Wednesday<input type="checkbox" name="practiceDays-wednesday" {{"checked=''" if "wednesday" in team.practiceDays.days else ""}}></label>
       <label> Thursday<input type="checkbox" name="practiceDays-thursday" {{"checked=''" if "thursday" in team.practiceDays.days else ""}}></label>
      <label>  Friday<input type="checkbox" name="practiceDays-friday"{{"checked=''" if "friday" in team.practiceDays.days else ""}}></label>
      <label>  Saturday<input type="checkbox" name="practiceDays-saturday"{{"checked=''" if "saturday" in team.practiceDays.days else ""}}></label>
        </span>
    <br>
    <label>Home Facility</label>  <select name="homeFacility">
        <option value="$none" {{'selected="selected"'  if team.homeFacility.value == None else ''}}>None</option>
            {% for facility in sfacs %}
        <option value="{{facility}}" {{'selected="selected"'  if facility == team.homeFacility else ''}}>{{facilities[facility].shortName}}</option>
            {% endfor %}
    </select>
    <label>Alternate Facility</label>  <select name="alternativeFacility">
        <option value="$none" {{'selected="selected"'  if team.alternateFacility.value == None else ''}}>None</option>
            {% for facility in sfacs %}
        <option value="{{facility}}" {{'selected="selected"'  if facility == team.alternateFacility else ''}}>{{facilities[facility].shortName}}</option>
            {% endfor %}
    </select>
   <label> No Play Dates (mm/dd/yy, mm/dd/yy, mm/dd/yy...)</label>  <input type="text" name="noPlayDates" placeholder="No Play Dates" value="{{team.noPlayDates}}"><br>
   <label> No Match Days (mm/dd/yy, mm/dd/yy, mm/dd/yy...) </label>
         <span style="font-size:20px;word-wrap:break-word" >
               <label> Sunday<input type="checkbox" name="noMatchDays-sunday" {{"checked=''" if "sunday" in team.noMatchDays.days else ""}}></label>
       <label> Monday<input type="checkbox" name="noMatchDays-monday" {{"checked=''" if "monday" in team.noMatchDays.days else ""}}></label>
        <label>  Tuesday<input type="checkbox" name="noMatchDays-tuesday"{{"checked=''" if "tuesday" in team.noMatchDays.days else ""}}></label>
       <label> Wednesday<input type="checkbox" name="noMatchDays-wednesday"{{"checked=''" if "wednesday" in team.noMatchDays.days else ""}}></label>
       <label> Thursday<input type="checkbox" name="noMatchDays-thursday"{{"checked=''" if "thursday" in team.noMatchDays.days else ""}}></label>
      <label>  Friday<input type="checkbox" name="noMatchDays-friday"{{"checked=''" if "friday" in team.noMatchDays.days else ""}}></label>
      <label>  Saturday<input type="checkbox" name="noMatchDays-saturday"{{"checked=''" if "saturday" in team.noMatchDays.days else ""}}></label>
         </span>
        <br>
   <label> Home Match % (100, 90, etc...)</label>  <input type="text" name="homeMatchPCT" placeholder="Home Match %" value="{{team.homeMatchPCT}}" required><br>
   <label> Start Date (mm/dd/yy) </label> <input type="text" name="startDate" placeholder="Start Date"  value="{{team.startDate}}" required><br>
    <br>
    <br>
    <br>
        <input type="hidden" name="teamname" value="{{team.fullName}}">
    <input type="submit" value="Submit">
        </span>
</form>

</body>
</html>