<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Edit Division</title>
        <style>
        label{
            display: inline-block;
            float: left;
            clear: left;
            width: 500px;
            text-align: left;
        }

        input,textarea,iframe {
          display: inline-block;
          float: left;
        }

        .checkboxes label {
          display: inline-block;
          padding-right: 10px;
          white-space: nowrap;
        }
        .checkboxes input {
          vertical-align: middle;
        }
        .checkboxes label span {
          vertical-align: middle;
        }
         select {
          display: inline-block;
          float: left;
        }
    </style>
        <script>
    function onchang(box){
        fr = document.getElementById("fr")
        fr.srcdoc=box.value
    }

    </script>
</head>
<body>
<a href="/">Home</a>
<h1>Edit Facility</h1>
<form method="post" action="/submiteditfacility">

<span style="font-size:30px">

    <label>Full Name </label><input type="text" name="fullName" value="{{facility.fullName}}">
    <label>Name Abbreviation </label><input type="text" name="shortName" value="{{facility.shortName}}">
    <label>Days can host matches </label>

             <span style="font-size:20px;word-wrap:break-word" >
               <label> Sunday<input type="checkbox" name="daysCanHost-sunday" {{"checked=''" if "sunday" in facility.daysCanHost.days else ""}}></label>
       <label> Monday<input type="checkbox" name="daysCanHost-monday" {{"checked=''" if "monday" in facility.daysCanHost.days else ""}}></label>
        <label>  Tuesday<input type="checkbox" name="daysCanHost-tuesday" {{"checked=''" if "tuesday" in facility.daysCanHost.days else ""}}></label>
       <label> Wednesday<input type="checkbox" name="daysCanHost-wednesday" {{"checked=''" if "wednesday" in facility.daysCanHost.days else ""}}></label>
       <label> Thursday<input type="checkbox" name="daysCanHost-thursday" {{"checked=''" if "thursday" in facility.daysCanHost.days else ""}}></label>
      <label>  Friday<input type="checkbox" name="daysCanHost-friday" {{"checked=''" if "friday" in facility.daysCanHost.days else ""}}></label>
      <label>  Saturday<input type="checkbox" name="daysCanHost-saturday" {{"checked=''" if "saturday" in facility.daysCanHost.days else ""}}></label>
         </span>
        <br>
    <input type="hidden" name="facilityname" value="{{facility.fullName}}">
    <label>Dates cannot host matches</label><input type="text" name="datesCantHost" value="{{facility.datesCantHost}}">
    <label>Required team(s)</label>

        <script>
        var x = {{facility.allowedTeams.value.__len__()}};
        function change(){
            var dom = document.getElementById("count");
            revised = dom.value;
            if(dom.value>30){
                dom.value = 30
                revised = 30;
            }
                if(revised >x){

                    counter = x;
                    x = parseInt(revised);
                    while(counter<x){
                        var n = document.createElement("input");
                        var m = document.getElementById("here");
                        m.innerHTML +=`<select onchange='if(event.target.hasAttribute(\"prev\")){event.target.options[parseInt(event.target.getAttribute(\"prev\"))].removeAttribute(\"selected\");};event.target.setAttribute(\"prev\",event.target.selectedIndex);;event.target.options[event.target.selectedIndex].setAttribute(\"selected\",\"selected\")' name="team-`+(counter+1)+`">
                                   <option value="$none">None</option>
                        {% for team in ordered_teams %}
                    <option value="{{team}}">{{teams[team].shortName}}</option>
                        {% endfor %}
                        `
                        counter+=1;
                    }

                }else{
                counter = x;
                x = parseInt(dom.value);
                while(x<counter){
                    var here = document.getElementById("here");
                       here.removeChild(here.children[here.children.length-1]);
                    counter-=1;
                    }
                }

        }

    </script>
        <input type="number" id="count" onchange="change();" placeholder="Team Count (number)" min="0" value="{{facility.allowedTeams.__len__()}}"  ><label></label><div id="here">
    {% set ns = namespace(i=0) %}
    {% set ns.i = 0 %}
    {% for ateam in facility.allowedTeams.value %}
    <select onchange='if(event.target.hasAttribute(\"prev\")){event.target.options[parseInt(event.target.getAttribute(\"prev\"))].removeAttribute(\"selected\");};event.target.setAttribute(\"prev\",event.target.selectedIndex);;event.target.options[event.target.selectedIndex].setAttribute(\"selected\",\"selected\")' name="team-{{ns.i+1}}">
        <option value="$none">None</option>
        {% for team in ordered_teams %}
            <option value="{{teams[team].fullName}}" {{'selected="selected"' if ateam==teams[team].fullName.value else ""}}>{{teams[team].shortName}}</option>
        {% endfor %}
    </select>
    {% set ns.i = ns.i+1 %}
    {% endfor %}
</div>
</span>
    <label></label>
            <label></label>  <input type="submit" value="Submit">
                <label>Notes </label>  <textarea  onchange="onchang(event.target)" name="notes" style="width:500px; height:300px">{{facility.notes}}</textarea>
        <label>Notes display:</label>
        <br>
        <br>
        <br>
        <br>
        <br>        <br>
        <br>
        <br>
        <br>
        <br>
        <iframe srcdoc="{{facility.notes}}" id="fr" width="1000" height="500"></iframe>

</form>

</body>
</html>