<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Generate Schedule</title>
</head>
<body>
<a href="/">Home</a>
<h1>Generate Schedule!</h1>


The more iterations the better. After 30,000 iterations per division, the quality of the schedules don't change that much<br>
.<br><br>
<form action="/generateschedule" method="post">
    <label>Iterations: </label><input type="number" min="1" max="300000" name="iterations"><br>
 <label>Name: </label><input name="name">
<input type="submit">
</form>

</body>
</html>