<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Schedule</title>
</head>
<body>
<a href="/">Home</a>
<h1>Generate Schedule!</h1>


Scheduling uses the Monte Carlo Tree Search Algorithm which is a search algorithm to optimize some heuristic.<br>
Iterations are very fast. The more, the better.<br><br>
<form action="/generateschedule" method="post">
    <label>Iterations: </label><input type="number" min="1" max="300000" name="iterations"><br>
        <label>Division</label>  <select name="division">
                <option value="$none">None</option>
            {% for division in divisions %}
        <option value="{{division}}">{{divisions[division].shortName}}</option>
            {% endfor %}

    </select><br>
    <label>Name: </label><input name="name">
<input type="submit">
</form>
</body>
</html>