<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Settings</title>
          <style>
        label{
            display: inline-block;
            float: left;
            clear: left;
            width: 500px;
            text-align: left;
        }
        input {
          display: inline-block;
          float: left;
        }select {
          display: inline-block;
          float: left;
        }
    </style>
</head>
<body>
<a href="/">Home</a><br>
<h1>LEAGUE SETTINGS</h1>
    <form method="post" action="/leaguesettings">
        <label>League wide no play dates (mm/dd/yy,mm/dd/yy-mm/dd/yy...etc)</label><textarea name="noPlayDates">{{noPlayDates}}</textarea><br><br><br>
        <input type="submit">
    </form>

</body>
</html>