<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - League Settings Success</title>
</head>
<body>
<a href="/">Home</a>
<h1>SUCCESS</h1>
Review your changes:
<span style="font-size:30px">
    League wide no play dates: {{noPlayDates}}
    </span>
<span style="font-size:20px">
    You can always change the settings on the <a href="/leaguesettings">settings</a>page
</span>

</body>
</html>