<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generating Schedule</title>

    <script>

       function get(){
            f=  document.getElementById("form")
            f.submit()
        }
        setTimeout(get,300)
    </script>
</head>
<body>
<a href="/">Home</a>
<h1>GENERATING SCHEDULE</h1>

<h2>This may take a while....</h2>
<h2>This page will change when it is done loading</h2>
<form action="/cancelscheduler" method="post"><input type="submit" value="Cancel Process"></form>
<h2>{{iters}}/{{maxiters}} completed</h2>

<form action="/loadingscreenpost" method="post" id="form"><input type="hidden" value="{{name}}" name="name"></form>
</body>
</html>