<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generating Schedule</title>

    <script>

       function get(){
        const http = new XMLHttpRequest()
        http.open("POST", "/loadingscreenpost")
         http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        http.send("name={{name}}")
                function onget(){
            document.body.innerHTML = '';
            document.write(http.responseText)
        }
        http.onload = onget
        }
        setTimeout(get,300)
    </script>
</head>
<body>
<a href="/">Home</a>
<h1>GENERATING SCHEDULE</h1>

<h2>This may take a while....</h2>
<h2>This page will change when it is done loading</h2>
<form action="/cancelscheduler" method="post"><input type="submit" value="Cancel Process"></form>
<h2>{{iters}}/{{maxiters}} completed</h2>
</body>
</html>