<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Schedule Display</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>
<a href="/">Home</a>
<h1>Schedule Display</h1>

            {% set ns = namespace(i=0) %}
{% for division in divisions%}
<h2>Division: {{division}}</h2>
<a href="/downloadschedule?schedule={{urlparse(name)}}&division={{urlparse(division)}}">Download division csv</a><br><br>
    <table>

        <tr>
            <th></th>
        {% for team in (teamsByDivs[division]) %}
            <th>{{team}}</th>
        {% endfor %}
         </tr>
        {% for y in range(teamsByDivs[division].__len__()) %}
            <tr>
                <th>{{teamsByDivs[division][y]}}</th>
                {% for x in range(teamsByDivs[division].__len__()) %}
                    <td>
                        {{scheduleArr[ns.i][y][x].html_display() if scheduleArr[ns.i][y][x] else '-'}}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
<br><br><br>
            {% set ns.i = ns.i+1 %}
{% endfor %}<br><br>
<a href="/downloadschedule?schedule={{urlparse(name)}}" style="font-size:30px">Download as master csv</a><br><br>
<a href="/viewschedules" style="font-size:25px">View Schedules</a>
</body>