<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - New Team</title>
</head>
<body>
<a href="/">Home</a>
<h1>SUCCESS!</h1>
<h2>Review the team:</h2>
<span style="font-size:30px">
{% for dat in data %}
    {{dat.name}}: {{dat.__repr__()}} <br>
{% endfor %}
</span>
<span style="font-size:20px">
    You can always edit the team information on the <a href="/edit">edit</a> page
</span>

</body>
</html>