<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
    <meta charset="UTF-8">
    <title>Fairwest Match Scheduler - Update Schedule</title>
</head>
<body>
<a href="/">Home</a>
<h1>Update Schedule!</h1>


<br><br>
<form action="/updateschedule" method="post">
    <label>Iterations: </label><input type="number" min="1" max="300000" name="iterations"><br><input type="hidden" name="name" value="{{name}}">
<input type="submit">
</form>

</body>
</html>