<!DOCTYPE html>
<html lang="en">
<head>    <link rel = "icon" href = 
    "static/images/logo.jpg" 
            type = "image/x-icon">
  <meta charset="UTF-8">
  <title>Fairwest Match Scheduler - View Schedules</title>
</head>
<body>
<a href="/">Home</a>
<h1>VIEW SCHEDULES</h1>
  <h2>TO EDIT SCHEDULE</h2>

    <ol>
      <li>Edit facility or team</li>
      <li>Go to back to this page</li>
      <li>Press the update button under the schedule of choice</li>
    </ol><br><br><br>

    {%for name in schedules %}
    {% set sched = schedules[name] %}
  <span style="font-size:30px">{{name}}</span><br>
  <span style="font-size:15px">Creation Date: {{sched.creationDate}}</span><br>
        <br>
  <a href="/viewschedules?schedule={{urlparse(name)}}">View {{name}}</a><br>
  <a href="/updateschedule?schedule={{urlparse(name)}}">Update {{name}}</a><br>
   <a href="/deleteschedule?schedule={{urlparse(name)}}">Delete {{name}}</a><br>
<a href="/downloadschedule?schedule={{urlparse(name)}}">Download as csv</a><br>
<a href="/downloadbyfacility?schedule={{urlparse(name)}}">Download CSV for facilities</a><br><br><br>
    {%endfor%}


</body>
</html>